.section-about {
  .about {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &-header {
      margin-bottom: 4rem;
      font-size: 3.2rem;
      color: $clr-primary-400;
    }

    &-text {
      background-color: $clr-neutral-200;
      padding: 4rem;
      font-size: 2rem;
      line-height: 1.8;
      text-align: justify;
    }
  }
}

@media (max-width: 45em) {
  .section-about {
    .about {
      &-text {
        text-align: left;
      }
    }
  }
}
