.section-footer {
  user-select: auto !important;
  background-color: $clr-primary-400;
  color: $clr-neutral-100;

  .footer {
    gap: 1rem;
    justify-content: space-between;

    &-header {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 2.4rem;
    }

    .social,
    &-adress p:nth-child(2):hover {
      transition: all 0.3s;
    }

    &-adress p:nth-child(2):hover,
    .social:hover {
      color: #b0daff;
    }

    &-socials {
      justify-content: space-around;
    }
  }
}

@media (max-width: 50em) {
  .section-footer {
    .footer {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 45em) {
  .section-footer {
    padding: 0;
    .footer {
      font-size: 1.6rem;
      flex-direction: column;
      text-align: center;

      article {
        padding: 3rem;
      }

      article:not(:last-child) {
        border-bottom: 1px solid $clr-neutral-100;
      }

      &-socials {
        justify-content: center;
        gap: 4rem;
      }
    }
  }
}
