.section-footer {
  background-color: $clr-primary-400;
  color: $clr-neutral-100;

  .footer {
    justify-content: space-between;

    &-header {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 2.4rem;
    }
  }
}

@media (max-width: 45em) {
  .section-footer {
    padding: 0;
    .footer {
      flex-direction: column;
      text-align: center;

      article {
        padding: 2rem;
      }

      article:not(:last-child) {
        border-bottom: 1px solid $clr-neutral-100;
        border-bottom-width: 10%;
      }
    }
  }
}
