html {
  font-size: 62.5%;
  font-family: $ff-montserrat;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
}

.btn {
  font-size: 1.8rem;
  padding: 1.2rem 6.4rem;
  background-color: $clr-beige;
  color: $clr-white;
  border: 1px solid $clr-white;
  font-weight: 700;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $clr-white;
    color: $clr-beige;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

/* Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 
36 / 44 / 52 / 62 / 74 / 86 / 98 
*/

/* 
Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/
