.header {
  position: relative;
  color: $clr-white;
  height: 100vh;
  background-image: linear-gradient(rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: center;

  &__container {
    width: 160rem;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__inner {
      text-align: center;
      width: 50%;
    }
  }

  &__title {
    margin-bottom: 3.2rem;
    font-size: 5.2rem;
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 4.8rem;
  }
}
