.section-hero {
  background-color: $clr-primary-100;

  .hero {
    gap: 2rem;
    &-header {
      margin-bottom: 1.6rem;
      color: $clr-primary-400;
    }

    &-main-text {
      font-size: 4rem;
      margin-bottom: 4rem;
    }

    &-btn {
      &:hover {
        background-color: $clr-neutral-100;
        color: $clr-primary-400;
        transform: translateY(-0.5rem);
        box-shadow: rgba(1, 1, 1, 0.25) 0px 30px 60px -12px,
          rgba(1, 1, 1, 0.3) 0px 18px 36px -18px;
      }
    }
  }

  .inner-container.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
